.store_title {
    font-weight: 600;
    font-size: var(--h5-text);
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 18px;
    margin-left: 50px;
    margin-right: 50px;
}