:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gigantic-text: 4.768rem;
  --jumbo-text: 3.815rem;
  --h1-text: 3.052rem;
  --h2-text: 2.441rem;
  --h3-text: 1.953rem;
  --h4-text: 1.563rem;
  --h5-text: 1.25rem;
  --small-text: 0.72rem;
  --smaller-text: 0.64rem;
  --smallest-text: 0.512rem;
  --dark: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {list-style-type: none;}

body {
  background-color: #fff;
  color: var(--dark)
}
